:root {
  --white: #fff;
  --box-shadow: rgba(52, 60, 88, 0.4);

  --platinum: #e5e5e5;
  --space-cadet: #343c58;
}

body,
input,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
